<p>お釣り</p>
<%= @result %>
<br>

<th>
  <td><%= '1000円札: ' + @thousand.to_s %></td>
  <br>
  <td><%= '100円玉 : ' + @hundred.to_s %></td>
  <br>
  <td><%= '10円玉  : ' + @ten.to_s %></td>
  <br>
  <td><%= '5円玉   : ' + @five.to_s %></td>
  <br>
  <td><%= '1円玉   : ' + @one.to_s %></td>
  <br>
</th>