<!DOCTYPE html>
<html>
  <head>
    <title>ChangeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="row">
      <div class='col-4 offset-4 my-5'>
        <h1 class='bg-secondary text-white text-center'>お会計で焦る全ての人へ<h1>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
